{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<div class="container-xl">
  <div class="row">
    <div class="col">
      <div class="blog-list">
        {% for post in posts %}
        <div class="card">
          <div class="row">
            <div class="col">
              <div class="card-image-block">
                {%for post_img in post.post_image.all %} {% if post_img %}
                <img src="{{ post_img.image.url }}" class="card-img"/>
                {% else %}
                <img src="{{ MEDIA_URL }}/300_участников__новых_для_России_поставщиков_1.gif" class="card-img"/>
                {% endif %} {% endfor %}
              </div>
            </div>
            <div class="col-6">
              <div class="card-title-block">
                <h3 class="card-title">{{ post.title }}</h3>
                <small><b>Дата публикации:</b> {{ post.created_at }}</small>
                <p class="card-text">{{ post.text }}</p>
              </div>
            </div>
            <div class="col-2">
              <button>
                Подробнее
              </button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-2">
      <div class="tags">
        <h1 class="tags-title">Теги:</h1>
        <span class="badge">~BlueCat~</span>
        {% for tag in tags %}
        <span class="badge">{{ tag.name }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- {% for post in posts %}
<div class="col">
  <a>
    <div class="card h-100">
      {%for post_img in post.post_image.all %} {% if post_img %}
      <img src="{{ post_img.image.url }}" class="card-img-top"/>
      {% else %}
      <img src="{{ MEDIA_URL }}/300_участников__новых_для_России_поставщиков_1.gif" class="card-img-top"/>
      {% endif %} {% endfor %}
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
      </div>
      <div class="card-footer">
        <small>
          <span class="badge">~BlueCat~</span>
          {% for post_tag in post.tags.all %}
          <span class="badge">{{ post_tag }}</span>
          {% endfor %}<br />
        </small>
        <small class="card-date">Дата: {{ post.created_at }} </small>
      </div>
    </div>
  </a>
</div>
{% endfor %} -->