a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

.body_gradient {
  /* background: rgb(63,94,251);
  background: radial-gradient(circle, rgb(34, 52, 142) 0%, rgba(52,28,88,1) 100%); */
  background-color: #1e2327;
  padding-top: 60px;
}

nav {
	min-height: 60px;
	background-color: #6610f2;
	color: white;
}

.mainMenu__btn {
	display: none;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
	font-weight: bold;
	color: white;
}

.nav-link {
	color: white;
	font-weight: bold;
}

.nav-link:hover {
	color: rgb(171, 171, 171);
	font-weight: bold;
}

.dropdown-menu.show {
	background-color: #6610f2;
	border-color: #6610f2;
	--bs-dropdown-link-hover-color: white;
    --bs-dropdown-link-hover-bg: #6610f2;
}

.dropdown-item {
	background-color: #6610f2;
	color: white;
}


@media screen and (max-width: 576px) {
}

@media screen and (max-width: 991px) {

	.mainMenu__btn {
		margin-top: 2px;
		display: inline;
		outline: none;
		border-radius: 0;
		border-style: none;
		border-width: 0;
		box-shadow: 0 0 0 0 rgba(0, 123, 255, 0)!important;
		background-color:  #6610f2;
	}

	.container_btn.active{
		width: 100%;
		display: inline;
	}

	#navbarSupportedContent.active {
		display: inline;
		margin-top: 20px;
		margin-left: 20px;

		.dropdown-menu {
			max-width: 100%;
			--bs-dropdown-bg: var(--bs-header-bg);
			--bs-dropdown-padding-y: 0;
    		--bs-dropdown-spacer: 0;
			--bs-dropdown-border: none;
		}
	}

	.top, .mid, .bottom {
		width: 25px;
		height: 3px;
		background-color: white;
		display: block;
		margin: 4px;
	}
	.mainMenu__btn.active{
		.top {
			transform: rotate(-45deg);
			top: 20;
			position: absolute;
		}
		.mid{
			display: none;
		}
		.bottom {
			transform: rotate(45deg);
			top: 20;
			position: absolute;
		}
	}
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1400px) {
}