.wallet-list {
    margin-top: 30px;

    .two-top-block {


        .top-left-block {

            .top-left_block-1,
            .top-left_block-2,
            .top-left_block-3,
            .top-left_block-4 {
                height: 170px;
                margin-top: 15px;
                background-color: white;
                border-radius: 25px;
                -webkit-box-shadow: 0px 6px 5px 0px rgba(2, 2, 2, 0.2);
                -moz-box-shadow: 0px 6px 5px 0px rgba(2, 2, 2, 0.2);
                box-shadow: 0px 6px 5px 0px rgba(2, 2, 2, 0.2);
                display: flex;
                text-align: center;
                align-items: center;
                .content {
                    width: 100%;

                    .total-sum-text {
                        margin: 0;
                    }
                }
            }
        }

    .top-right-block {
        margin-top: 15px;
        height: 355px;
        background-color: white;
        border-radius: 25px;
        -webkit-box-shadow: 0px 6px 5px 0px rgba(2, 2, 2, 0.2);
        -moz-box-shadow: 0px 6px 5px 0px rgba(2, 2, 2, 0.2);
        box-shadow: 0px 6px 5px 0px rgba(2, 2, 2, 0.2);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    }

    .transactions-history{
        border-radius: 25px;
        background-color: white;
        -webkit-box-shadow: 0px 6px 5px 0px rgba(2, 2, 2, 0.2);
        -moz-box-shadow: 0px 6px 5px 0px rgba(2, 2, 2, 0.2);
        box-shadow: 0px 6px 5px 0px rgba(2, 2, 2, 0.2);
        margin-top: 20px;
        height: 600px;
    }
}

@media (min-width: 767px) {
    .top-left-block {
        padding-left: 0;
    }
}
